extends layout

block meta
  title Export - Citation.js
  script(src='/assets/js/form.js')

block content
  main
    header
      h1 Export

    section
      form(data-action='/api/v1/export/{id}/{style}', method='get', target='output')
        label(for='id') Wikidata entity IDs
        input#id(name='id', type='text', value=id)

        label(for='style') Output format
        select#style(name='style')
          option(value='bibliography') Bibliography
          option(value='biblatex') BibLaTeX
          option(value='bibtex') BibTeX
          option(value='bibtxt') BibTXT
          option(value='data') CSL-JSON
          option(value='ndjson') CSL-NDJSON
          option(value='ris') RIS

        label(for='format') Data format
        select#format(name='format')
          option(value='html') HTML
          option(value='text') Text

        button Export

        div#output(style='border: 1px solid black; height: 20em; overflow: auto; padding: 1em; width: 100%;')
