extends layout

block meta
  title Citation.js
  meta(name='description', content='Tool for Wikimedia Toolforge')
  script(src='/assets/js/form.js')

block content
  main
    header
      h1 Citation.js Tool
      p
        | Export citations from Wikidata items and generate Quickstatements for
        | publications not yet on Wikidata.

    section
      a(href='/openapi/') See the OpenAPI specification.
