*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body > * {
  position: relative;
}

body > main {
  flex-grow: 1;
}

body > * > .background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

body > * > :not(.background) {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  position: relative;
}

body > header .background {
  background-color: #FFCA28;
}

body > header nav ul, body > footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5em;
}

body > header nav ul {
  list-style-type: none;
}

body > main > header, body > main section {
  padding: 0.1em 1.5em;
  background: white;
}

body > main section h2 {
  background-color: #333333;
  color: white;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0.5em 1em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

body > main section header {
  border-bottom: 1px solid #333333;
}

body > footer {
  color: white;
  margin-top: 2em;
}

body > footer .background {
  background-color: #111111;
}

body > main .table-container {
  max-width: 100%;
  overflow-x: auto;
}

body > main table {
  border-collapse: collapse;
  width: 100%;
}

body > main thead {
  color: #333333;
  background: #FFCA28;
}

body > main tbody th {
  border-right: 1px solid #333;
}

body > main tbody tr {
  border-bottom: 1px solid #333;
}

body > main table td, body > main table th {
  padding: 0.5em;
}

body > main blockquote {
  border-left: 3px solid #333;
  font-size: inherit;
  padding-left: 1em;
}

body > main form {
  padding: 0.5em 0;
}

body > main fieldset {
  border: 3px solid #333;
}

body > main input, body > main select, body > main button {
  border: 1px solid black;
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
}

body > main input, body > main select {
  background-color: #fff;
  max-width: 20em;
  width: 100%;
}

body > main button {
  color: #fff;
  background-color: #333;
  padding: 0.5em;
}

body > main pre {
  max-width: 100%;
  overflow-x: auto;
}

body > header a, body > main a, body > footer a {
  border-bottom: 1px solid currentColor;
  color: inherit;
  text-decoration: none;
}

a.badge, h2 a, .chip a {
  border-bottom: none;
}

a:hover {
  opacity: 0.8;
}

body > main .chip {
  background-color: #eee;
  border-radius: 2em;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
}

body > main .chip img:first-child {
  margin-left: -0.5em;
  margin-right: 0;
  height: 2em;
  border-radius: 100%;
}

body > main .chip * {
  margin: 0 0.5em;
  vertical-align: middle;
}

body > main .material-icons {
  vertical-align: middle;
}
